<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{!-- {{#if showTests}}
        <link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script> --}}
</head>

<body>
    {{{body}}}
    {{!-- {{#if showTests}}
        <div id ="mocha"></div>
        <script scr="/vendor/mocha.js"></script>
        <script scr="/vendor/chai.js"></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>
        <script scr="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
        <script scr="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}} --}}
</body>
</html>